# Server
PORT=4000
CLIENT_ORIGIN='https://project-aiesec-1.onrender.com'

# Prisma
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/aiesec_mysterybox?schema=public"

# Auth
JWT_SECRET="change-me"
ADMIN_USERNAME=admin
ADMIN_PASSWORD="change-me"
